[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:AliciaGaona/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = git@github.com:AliciaGaona/BlogSiteLevantaSitePaperMod.git
